body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.user-info {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-info div {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.user-info label {
  font-weight: bold;
}

.jwt-textarea {
  width: 80%;
  height: 200px;
  font-family: monospace;
  border: 1px solid #ccc;
  padding: 5px;
  resize: vertical;
  overflow: auto;
  background-color: #f7f7f7;
}
